@tailwind base;
@tailwind components;
@tailwind utilities;

.minMax {
  @apply min-h-[500px] h-full;
}

.data-input {
  @apply border-b-2 focus:border-b-[#f2b800] duration-300;
}
.login-button {
  @apply bg-secondary text-white hover:bg-black duration-300;
}
.login-secondary {
  @apply text-gray-700 hover:text-secondary duration-300;
}

.dashboard-title {
  @apply text-primary text-3xl font-semibold;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  background: url("Assets/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-div,
.comingSoon-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.5),
    hsla(242, 74%, 62%, 0.5)
  ) !important;
}
